@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;700&display=swap");
// Variables
$bg: #141b2d;
$accent: #1f2a40;
$sucess: #27ae60;
$primary: #8484e4;
$color: #f1c40f;
$text: #c9d1d9;
$header: #1a2038;
$danger: #d5383e;
$alert: #2980b9;

// General
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $text;
    font-family: "Inter Tight", sans-serif;
}

a {
    text-decoration: none;
}
// Styles
body {
    background: $bg;
}

.button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
}

.btn {
    background: $alert;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    color: white;
    &:hover {
        transform: scale(1.05);
    }
}

aside {
    background: $accent;

    .option {
        display: grid;
        grid-template-columns: 1fr 3fr;
        .icono {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            border-radius: 0.5em;
            background: white;
            margin-right: 0.5em;
            width: 2.5em;
            height: 2.5em;
            i {
                color: black;
                font-size: 20px;
            }
        }

        span {
            color: white;
        }
    }
}

.bg-table {
    width: 100%;
    padding: 0.5em;
    background: $header;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    padding: 1em 0.5em;
    border-radius: 0.5em;
    overflow: hidden;
    tr {
        background: $header;
        border-radius: 2em;
        td,
        th {
            text-align: center;
        }

        .rojo,
        .verde {
            span {
                padding: 0.5em;
                color: white;
                border-radius: 0.5em;
                text-align: center;
            }
        }

        .rojo {
            span {
                background: $danger;
            }
        }

        .verde {
            span {
                background: $sucess;
            }
        }
        td {
            padding: 1em 0;
            font-weight: 400;

            &:last-child {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                height: 100%;
                width: 100%;
                gap: 0.5em;
            }
            .acn {
                width: 2em;
                height: 2em;
                min-width: 2em;
                min-height: 2em;
                max-height: 2em;
                max-width: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5em;
                i {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:nth-child(1) {
                    background: $sucess;
                }
                &:nth-child(2) {
                    background: $danger;
                }

                &:nth-child(3) {
                    background: $alert;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 2em;

                    i {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        th {
            font-weight: bolder;
            padding: 1em 0;
            font-size: 17px;
        }
    }
    tr:nth-child(odd) {
        background: lighten($accent, 2);
    }
    tr:first-child {
        background-color: $accent;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    tr:last-child {
        border-bottom: 1px solid white;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2em;

    .centro {
        align-items: center;
    }
}

.metrics {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 3em;
    justify-content: space-between;
    .metric {
        display: grid;
        background: $accent;
        width: 25%;
        padding: 0.5em;
        display: flex;
        flex-direction: row-reverse;
        gap: 2em;
        border-radius: 0.5em;
        min-width: 200px;
        .icon {
            background: $alert;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1em;
            border-radius: 0.5em;
            font-size: 20px;
        }

        .text {
            width: 80%;
            .title {
                font-size: 20px;
                font-weight: bold;
            }
            .subtitle {
                margin-top: 0.5em;
            }
        }
    }
}

.centro {
    display: flex;
    justify-content: center;
    width: 100%;
    #reader {
        button {
            background: $alert;
            color: white;
            padding: 1em;
            border: none;
            border-radius: 0.5em;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
.container-body {
    padding-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .container-home {
        width: 100%;
        height: 100%;
        padding: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card {
            padding: 2em;
            max-width: 100%;
            background: $accent;
            margin-bottom: 1em;
            .photo {
                width: 50%;
                position: relative;
                img {
                    max-width: 100%;
                }
                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, 0.5);
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .g-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1em;
            max-width: 800px;
            .text {
                display: flex;
                flex-direction: column;
                width: 45%;
                min-width: 250px;
                div {
                    display: flex;
                    font-size: 20px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-bottom: 1em;
                    label {
                        font-size: 15px;
                    }
                }
            }
        }

        .table {
            width: 90%;
            table {
                width: 100%;
            }
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    nav {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        background: $accent;
        padding: 1em 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            color: $color;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .container {
        width: 100%;
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;

        .formulario {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: $accent;
            padding: 1em;
            border-radius: 0.5em;
            max-width: 500px;
            .title {
                font-size: 20px;
            }

            .description {
                margin: 0.5em 0 1em 0;
                text-align: center;
            }

            form {
                display: flex;
                flex-direction: column;
                width: 100%;

                .error {
                    width: 100%;
                    background: rgba($danger, 0.6);
                    padding: 1em;
                    border: 1px solid $danger;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1em;
                    margin-bottom: 1em;
                    text-align: center;
                }
                label {
                    font-size: 15px;
                }

                input {
                    width: 100%;
                    margin: 1em 0;
                    background: white;
                    border: 1px solid white;
                    padding: 1em 0.5em;
                    border-radius: 1em;
                    color: black;
                }

                button {
                    width: 100%;
                    color: white;
                    background: $alert;
                    padding: 1em 0;
                    border: none;
                    border-radius: 0.5em;
                    cursor: pointer;
                }

                a {
                    width: 100%;
                    text-align: center;
                    margin-top: 1em;
                }
            }
        }
    }
}

.modal {
    position: absolute;
    top: 2em;
    background: $header;
    padding: 2em;
    border-radius: 1em;
    z-index: 100;
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5em;
    }

    #canvasFoto {
        visibility: hidden;
    }
}

.hidden {
    visibility: hidden;
}

.frm-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        position: relative;
        background: $accent;
        padding: 4em 2em 2em 2em;
        border-radius: 0.5em;

        .ok,
        .error {
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0.5em 1em;
            border-radius: 0.5em;
            margin: 0.5em 0;
        }

        .ok {
            background: $sucess;
        }

        .error {
            background: $danger;
        }
        .title {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $alert;
            width: 2.5em;
            height: 2.5em;
            max-width: 2.5em;
            max-height: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            border-radius: 0.5em;
            i {
                color: white;
            }
        }
        .frm {
            display: flex;
            flex-direction: column;
            padding: 0.5em 0;
            label {
                margin-bottom: 0.5em;
            }

            input {
                width: 100%;
                padding: 0.5em;
                color: black;
                border-radius: 0.5em;
                font-size: 15px;
                border: none;
                &:active,
                &:focus {
                    outline: 2px solid $alert;
                }
            }
        }
        .btn {
            width: 100%;
            margin-top: 2em;
            font-size: 15px;
        }

        .recibo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1em;
        }
    }
}

.animacion {
    width: 100%;
    height: 100%;
    background: $accent;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    img {
        width: 20%;
    }
}

.animacion-activa {
    animation: agregarAnimacion 3s ease-in-out;
}

@media (min-width: 991.98px) {
    .formulario {
        width: 50%;
        background: black;
    }
    .header {
        display: flex;
        justify-content: flex-end;
        padding: 1em 2em;
    }
    body {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    aside {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
        position: sticky;
        top: 0;
        left: 0;
        .active {
            background: $header;
            border-radius: 0.5em;
        }
        .logo {
            font-size: 20px;
            color: #ffd700;
            margin-bottom: 2em;
        }
        .logout {
            display: none;
        }
        .option {
            margin-bottom: 1em;
            padding: 0.5em 0.5em;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .container-home {
        .table {
            min-width: 800px;
        }
    }
}

//Pantallas medianas (tablets de menos de 992px)
@media (max-width: 991.98px) {
    .metrics {
        flex-direction: column;
        gap: 0.5em;
        margin-bottom: 1em;
        .metric {
            margin: 0;
            width: 100%;
            .icon {
                font-size: 25px;
                height: 2em;
                width: 2em;
            }
        }
    }
    body {
        height: 100vh;
        position: relative;
    }
    .container {
        padding: 1em;
        height: 90vh;
        overflow-y: scroll;
        .centro {
            margin-top: 2em;
        }
    }

    .header {
        display: none;
    }

    aside {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .logo {
            display: none;
        }

        .logout {
            display: block;
        }
        .option {
            cursor: pointer;
            .icono {
                background: none;
                i {
                    color: $text;
                    font-size: 20px;
                }
            }
        }
        span {
            display: none;
        }
    }

    .frm-body {
        height: 100%;
    }

    .formulario {
        width: 100%;
        background: black;
    }
    .body {
        overflow-y: scroll;
        .table {
            min-width: calc(100vw - 12em);
        }
    }
}

@keyframes agregarAnimacion {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
