.tomarFoto {
    width: 100%;
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.modal {
    .camara {
        width: 100%;
        min-height: 30vh;
    }
}

.photo {
    position: relative;
    .imagen {
        max-width: 100%;
    }
    &:hover .overlay {
        z-index: 100;
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
    .overlay {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .btn {
            &:hover {
                background: $primary;
                color: white;
            }
        }
    }
}

canvas {
    visibility: hidden;
}

.card {
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .nombre,
        .mail {
            width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 20px;
            margin-bottom: 1em;
            label {
                font-size: 18px;
            }
        }
    }
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.tarjeta-centrada {
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 50%;
    }
}

.flexbox {
    display: flex;
}

.f-center {
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: column;
        width: 80%;
        font-size: 25px;
        text-align: center;
        label {
            width: 100%;
            font-size: 20px;
            text-align: left;
        }
    }
}
