.tomarFoto {
    width: 100%;
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.modal {
    .camara {
        width: 100%;
        min-height: 30vh;
    }
}
