%sombra {
    box-shadow: $boxShadow;
}
%radio {
    border-radius: 1em;
}

%caja {
    background: white;
    width: 100%;
    @extend %sombra;
    @extend %radio;
}

body {
    background: $bg;
}
.nav,
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    margin-bottom: 1em;
    background: white;

    .logo {
        color: $primary;
        font-weight: bold;
        font-size: 20px;
    }

    .options {
        padding: 0.5em 0;
    }
}

.btn,
button {
    text-decoration: none;
    color: $primary;
    padding: 0.5em 1em;
    border: 1px solid $primary;
    border-radius: 1em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        @extend %sombra;
        background: $primary;
        color: white;
    }
}

.btn-fill {
    color: white;
    background: $primary;

    &:hover {
        color: $primary;
        background: transparent;
    }
}

.container-body {
    padding: 1em 3em;
}

.metrics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
    .metric {
        @extend %caja;
        width: 100%;
        border-radius: 1em;
        display: grid;
        grid-template-columns: 65% 35%;
        gap: 1em;
        .text {
            padding: 1em;
            width: 100%;
            display: flex;
            flex-direction: column;
            .title {
                font-weight: 500;
                text-align: left;
            }
        }
        .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 1em;
            i {
                color: white;
                background: $primary;
                padding: 1em;
                border-radius: 0.5em;
                margin: 0.5em;
            }
        }
    }
}

.container {
    width: 100%;
}

.g-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.card {
    @extend %caja;
    width: 100%;
    padding: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.modal {
    position: absolute;
    top: 1em;
    left: 50%;
    z-index: 100;
    background: white;
    width: 50vw;
    min-height: 50vh;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    transition: 0.3s ease-in-out;
    box-shadow: $boxShadow;
    .btn {
        margin-top: 1em;
    }
}

.hidden {
    visibility: hidden;
    transition: 0.3s;
}

.mr-2 {
    margin-right: 2em;
}

.mr-1 {
    margin-right: 1em;
}

.mt-1 {
    margin-top: 1em;
}

.frm-body {
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        @extend %caja;
        width: 30%;
        padding: 3em 3em;
        position: relative;
        .error {
            width: 100%;
            background: lighten($primary, 40%);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em 0;
            color: $primary;
            border-radius: 0.5em;
            border: 1px solid $primary;
            margin: 0.5em 0;
        }
        .title {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4em;
            height: 4em;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $primary;
            border-radius: 50%;
            i {
                font-size: 30px;
                color: white;
            }
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .frm {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 1em;
            label {
                color: black;
                opacity: 0.8;
            }
            input {
                width: 100%;
                padding: 0.5em;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 0.5em;

                &:focus {
                    outline: 1px solid $primary;
                }
            }
        }
        .btn {
            width: 100%;
        }
    }
}

.table {
    width: 100%;
    background: white;
    border-radius: 1em;

    tr {
        &:hover {
            box-shadow: $boxShadow;
        }
        .rojo {
            span {
                background: #e74c3c;
            }
        }

        .verde {
            span {
                background: #2ecc71;
            }
        }
        td {
            padding: 1em 0;
            text-align: center;

            .acn {
                color: white;
                background: $primary;
                padding: 0.5em;
                border-radius: 0.5em;
                font-size: 13px;
            }

            span {
                padding: 0.5em;
                color: white;
                font-size: 14px;
                border-radius: 0.5em;
            }
        }
    }

    tr:first-child {
        font-size: 14px;

        &:hover {
            box-shadow: none;
        }
    }
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
    padding: 0 1em;
}
